# Module.config
# For more info on how to use this file, visit https://beaverbrewer.com/module-config

Module Name: 2x (Retina) Image
Module Version: 1.0
Author Name: Ryan Benhase
Author URI: http://ryanbenhase.com
Short Description: A Beaver Brewer module which works like the built-in "Photo" module but allows uploading a 2x version of your image.
Update URI: http://beaverbrewer.com/bb-updates/image-2x
Download ZIP: http://beaverbrewer.com/bb-downloads/image-2x
More Info URL: http://beaverbrewer.com/modules/image-2x
